<app-navbar></app-navbar>

<main>

  <div class="page-container">
    <app-hero></app-hero>
  </div>

  <app-ticket-bar></app-ticket-bar>

  <div class="page-container">
    <app-testimonial></app-testimonial>
  </div>

  <app-feature-bar></app-feature-bar>

  <div class="page-container">
    <app-features></app-features>
  </div>

  <div class="cta-section-wrapper">
    <div class="page-container">
      <app-cta></app-cta>
    </div>
  </div>

  <app-team></app-team>

  <div class="cta-section-wrapper">
    <div class="page-container">
      <app-faq></app-faq>
    </div>
  </div>

  <div class="cta-section-wrapper">
    <app-footer></app-footer>
  </div>

</main>
