@if (data) {
  <div class="resultado-card">
    @if (estadoDeteccion === 'problema') {
      <div class="alerta alerta-problema">¡Problema detectado!</div>
    }

    @if (estadoDeteccion === 'sano') {
      <div class="alerta alerta-sano">Planta saludable</div>
    }

    @if (estadoDeteccion === 'error') {
      <div class="alerta alerta-error">La imagen no corresponde a una planta</div>
    }

    <div class="imagen-wrapper">
      <img [src]="data.fotoUrl" alt="Cultivo analizado" class="imagen-cultivo" (click)="openImage(data.fotoUrl, $event)" />
    </div>

    <div class="contenido-wrapper">
      <div class="titulo-enfermedad">
        <h4>{{ data.nombreDetectado }}</h4>
        <p><em>{{ data.descripcion }}</em></p>
      </div>

      <div class="tabs">
        <button (click)="tab='sintomas'" [class.active]="tab==='sintomas'">Síntomas</button>
        <button (click)="tab='tratamiento'" [class.active]="tab==='tratamiento'">Tratamiento</button>
        <button (click)="tab='causas'" [class.active]="tab==='causas'">Causas</button>
        <button (click)="tab='prevencion'" [class.active]="tab==='prevencion'">Prevención</button>
      </div>

      <div class="tab-content">
        @switch (tab) {
          @case ('sintomas') { <p>{{ data.sintomas || 'Información no disponible.' }}</p> }
          @case ('tratamiento') { <p>{{ data.tratamiento || 'Información no disponible.' }}</p> }
          @case ('causas') { <p>{{ data.causas || 'Información no disponible.' }}</p> }
          @case ('prevencion') { <p>{{ data.prevencion || 'Información no disponible.' }}</p> }
        }
      </div>
    </div>

    @if (showImageModal) {
      <div class="image-modal" (click)="closeImage()">
        <img [src]="selectedImage"
             class="modal-img"
             (click)="$event.stopPropagation()"  alt="captura de la deteccion"/>
      </div>
    }

  </div>
}
