<app-header></app-header>

<section class="comunidad-container">
  <div class="comunidad-wrapper">

    <h2 class="page-title">
      Post de
      @if (post) {
        <a [routerLink]="['/comunidad/perfil', post.usuario.usuarioId]" class="author-link">
          {{ post.usuario.usuarioNombre }}
        </a>
      }
    </h2>

    <div class="content-layout">
      <app-sidebar-left></app-sidebar-left>

      <div class="post-detail-column">

        @if (post) {
          <app-post-card
            [post]="post"
            (deleted)="onPostDeleted()"
            (editRequested)="openEditPost($event)">
          </app-post-card>
        }

        <div class="comments-container">

          @if (post) {
            <app-comment-input
              [usuario]="usuarioPerfil"
              [postId]="post.postId"
              (commentCreated)="onComentarioCreado($event)"
            ></app-comment-input>
          }

          @if (cargando) {
            <p>Cargando comentarios...</p>
          } @else {
            @if (comentarios.length === 0) {
              <p class="no-comments">Sé el primero en comentar</p>
            }

            @for (c of comentarios; track c.comentarioId) {
              <app-comment-card
                [comment]="c"
                [postId]="post!.postId"
                [postAuthorId]="post!.usuario.usuarioId"
                (deleted)="onCommentDeleted($event)"
                (editRequested)="onEditRequested($event)"
              ></app-comment-card>
            }
          }
        </div>
      </div>

      <div class="sidebar-right-column">
        <app-sidebar-search></app-sidebar-search>
        <app-sidebar-recomendaciones></app-sidebar-recomendaciones>
        <app-sidebar-tendencias></app-sidebar-tendencias>
      </div>

    </div>
  </div>

</section>

@if (mostrarModal) {
  <app-comment-modal
    [post]="post!"
    [usuario]="usuarioPerfil"
    [editMode]="editMode"
    [comentario]="comentarioAEditar"
    (closed)="cerrarModal()"
    (commentCreated)="onComentarioCreado($event)"
    (commentEdited)="onComentarioEditado($event)"
  ></app-comment-modal>
}

@if (showEditPost && postToEdit) {
  <app-post-modal
    [post]="postToEdit"
    (closed)="closeEditPost()"
    (postEdited)="onPostEdited($event)">
  </app-post-modal>
}
