<div class="tip-card-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="tipDelDia as tip" class="tip-del-dia-box">

    <div class="tip-content-flex">

      <div class="tip-image-wrapper">
        <img [src]="tip.blogImagen" [alt]="tip.blogTitulo" class="tip-image">
      </div>

      <div class="tip-details">
        <h3 class="tip-titulo-alerta">
          <mat-icon color="warn">warning</mat-icon>
          ¡{{ tip.blogTitulo }}!
        </h3>

        <div class="recomendaciones-content">
          <p class="tip-descripcion-full">
            {{ tip.blogDescripcion }}
          </p>
        </div>
      </div>
    </div>

    <div class="tip-actions-footer">
      <button mat-button class="action-btn" (click)="compartir()">
        <mat-icon>share</mat-icon> Compartir
      </button>
      <button mat-button class="action-btn" (click)="guardar()">
        <mat-icon>bookmark_border</mat-icon> Guardar
      </button>

      <a mat-button [routerLink]="['tips']" class="ver-mas-link">
        Ver más...
      </a>
    </div>
  </div>

  <app-error-view *ngIf="hasError" message="No se pudo cargar la Recomendación del Día."></app-error-view>
</div>
