<div class="upload-box" [class.loading]="cargando">
  @if (!cargando) {
    <div class="placeholder">
      <mat-icon>cloud_upload</mat-icon>
      <p>Arrastra y suelta o carga la imagen de tu cultivo</p>
      <p class="formats">
        Formatos compatibles: <span>JPG, JPEG y PNG</span>
      </p>

      <input type="file" (change)="onFileSelected($event)" hidden #fileInput />

      <button mat-flat-button class="btn-upload" (click)="fileInput.click()">
        <mat-icon>file_upload</mat-icon>
        Navegar
      </button>
    </div>
  } @else {
    <div class="loading-text">
      <mat-icon>hourglass_top</mat-icon>
      Analizando imagen...
    </div>
  }
</div>
