<section class="testimonial-container">

  <div class="testimonial-grid">

    <div class="testimonial-text">
      <h2>Hecho con EcoShield</h2>
      <p>
        “EcoShield ha transformado la forma en que cuidamos las plantas,
        combinando tecnología y naturaleza. Desde su creación, EcoShield se ha
        comprometido con el bienestar del ecosistema y con el empoderamiento
        de agricultores y amantes de la botánica. Cada análisis, cada detección
        y cada recomendación son fruto de innovación y pasión por un mundo más
        verde.”
      </p>
    </div>

    <div class="plant-column-wrapper">

      <div class="plant-column-inner">

        <div class="plant-sub-column" id="plant-col-1">
          <img ngSrc="/assets/images/landing/recursos/3.svg" alt="Planta 1" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/5.svg" alt="Planta 3" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/7.svg" alt="Planta 7" class="plant-image" height="350" width="350">

          <img ngSrc="/assets/images/landing/recursos/3.svg" alt="Planta 1" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/5.svg" alt="Planta 3" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/7.svg" alt="Planta 7" class="plant-image" height="350" width="350">
        </div>

        <div class="plant-sub-column" id="plant-col-2">
          <img ngSrc="/assets/images/landing/recursos/4.svg" alt="Planta 2" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/6.svg" alt="Planta 4" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/8.svg" alt="Planta 8" class="plant-image" height="350" width="350">

          <img ngSrc="/assets/images/landing/recursos/4.svg" alt="Planta 2" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/6.svg" alt="Planta 4" class="plant-image" height="350" width="350">
          <img ngSrc="/assets/images/landing/recursos/8.svg" alt="Planta 8" class="plant-image" height="350" width="350">
        </div>

      </div>

    </div>
  </div>
</section>
