/* --- Animación de la Marquesina (CSS) --- */
@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    /* * Animamos a -50% porque duplicamos el contenido
     * (técnicamente lo cuadruplicamos, -25% también valdría)
    */
    transform: translateX(-50%);
  }
}

.testimonial-container {
  background-color: #fff;
}

/* --- Cuadrícula de Contenido --- */
.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-top: 1px solid #cce5ff;
  border-left: 1px solid #cce5ff;
  border-right: 1px solid #cce5ff;
}

.testimonial-text {
  padding: 0 4rem;
  border-right: 1px solid #cce5ff;

  font-family: 'IM Fell DW Pica', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-text h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.testimonial-text p {
  font-size: 2rem;
  line-height: 1.7;
}

.plant-column-wrapper {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  height: 800px;
}

.plant-column-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  position: relative;
}

.plant-sub-column {
  display: grid;
  gap: 2rem; /* Esto es el espacio VERTICAL entre las plantas */
}

.plant-image {
  height: auto;
  border-radius: 8px;
}

/* --- Responsividad --- */
@media (max-width: 992px) {
  .testimonial-grid {
    grid-template-columns: 1fr; /* Apila las columnas */
  }

  .testimonial-text {
    border-right: none;
    border-bottom: 1px solid #cce5ff; /* Añade línea horizontal */
  }

  .plant-column-inner {
    padding-top: 2rem;
  }
}
