<app-header></app-header>
<div class="not-found-container">
  <div class="not-found-content">

    <div class="not-found-icon">🌱</div>

    <h1 class="error-code">404</h1>
    <h2 class="error-message">¡Oh, no! La página no ha crecido aquí.</h2>

    <p class="error-description">
      Parece que la ruta que buscaste se ha desorientado en nuestros campos.
      No te preocupes, volvamos a tierra firme.
    </p>

    <a href="/inicio" class="home-button">
      Volver al Inicio
    </a>
  </div>
</div>
