@if (showModal) {
  <div class="modal-overlay" (click)="close()">
    <div
      class="modal-content"
      [class.modal-large]="currentView === 'register'"
      (click)="$event.stopPropagation()">

    <button class="modal-close" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>

      @switch (currentView) {

        @case ('login') {
          <app-login-form
            (navigateToRegister)="onNavigate('register')"
            (navigateToForgot)="onNavigate('forgotPassword')"
            (loginSuccess)="showSuccess('login')">
          </app-login-form>
        }

        @case ('register') {
          <app-register-form
            (backToLogin)="onNavigate('login')"
            (registerSuccess)="showSuccess('register')">
          </app-register-form>
        }

        @case ('forgotPassword') {
          <app-forgot-password
            (backToLogin)="onNavigate('login')"
            (codeSent)="onCodeSent($event)">
          </app-forgot-password>
        }

        @case ('code') {
          <app-code-form
            [email]="recoveryEmail || ''"
            (codeVerified)="onCodeVerified($event)">
          </app-code-form>
        }

        @case ('resetPassword') {
          <app-reset-password
            [token]="recoveryToken || ''"
            (passwordChanged)="showSuccess('password')">
          </app-reset-password>
        }


        @case ('success') {
          <app-success-message
            [subtitle]="successSubtitle"
            [title]="successTitle"
            [message]="successMessage"
            [actionLabel]="successActionLabel"
            [showButton]="successShowButton"
            (confirmed)="onSuccessConfirmed()">
          </app-success-message>
        }
      }
    </div>
  </div>
}
