<div class="creator-card">
  <div class="creator-header">
    <img
      [src]="usuarioPerfil?.usuarioFotoPerfil || '/assets/images/usuario/user_placeholder.jpg'"
      alt="Tu perfil"
      class="creator-avatar"
    />

    <input
      type="text"
      [(ngModel)]="titulo"
      placeholder="Título de tu publicación"
      class="creator-input"
    />
  </div>

  <textarea
    [(ngModel)]="descripcion"
    placeholder="¿Qué quieres compartir hoy, {{ usuarioPerfil?.usuarioNombre || 'ecoshielder' }}?"
    class="creator-textarea"
    rows="3">
  </textarea>

  @if (descripcionInvalida && descripcion.trim().length > 0) {
    <p class="error-msg">La descripción debe tener al menos {{ minDescripcion }} caracteres</p>
  }

  @if (previewUrl()) {
    <div class="preview-wrapper">
      <img [src]="previewUrl()" alt="preview" class="preview" />
    </div>
  }

  <div class="creator-footer">
    <div class="creator-actions">
      <button mat-button class="action-btn" (click)="fileInput.click()">
        <mat-icon>image_outlined</mat-icon>
        <span>Foto/video</span>
      </button>
      <input
        #fileInput
        type="file"
        hidden
        accept="image/*"
        (change)="onFileSelected($event)"
      />
    </div>

    <button mat-flat-button color="primary" class="post-btn" [disabled]="formularioInvalido"
            (click)="publicar()">
      @if (cargando()) {<mat-spinner diameter="20"></mat-spinner>} @else {Publicar}
    </button>

  </div>
</div>
