/* Añade esto a tu ticker-bar.css */
:host {
  display: block;
  /* Esto separa la barra del Hero */
  margin-top: 4rem; /* Ajusta este valor como quieras */
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.ticker-bar-container {
  margin-top: 15px;
  background-color: #b6ff79;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.ticker-content {
  display: inline-block;
  animation: scroll-x 25s linear infinite;
  will-change: transform;
}

.ticker-content span {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2E2E2E;
  text-transform: uppercase;
  padding: 0 1.5rem;
  line-height: 1;
}

.ticker-bar-container:hover .ticker-content {
  animation-play-state: paused;
}
