<nav class="sidebar-left">
  <ul>
    <li class="active">
      <mat-icon>home_outlined</mat-icon>
      <span>Inicio</span>
    </li>
    <li>
      <mat-icon>search</mat-icon>
      <span>Explorar</span>
    </li>
    <li>
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>Mensajes</span>
    </li>
    <li>
      <mat-icon>bookmark_border</mat-icon>
      <span>Guardados</span>
    </li>
    <li>
      <mat-icon>group</mat-icon>
      <span>Comunidades</span>
    </li>
    <li>
      <mat-icon>person_outline</mat-icon>
      <span>Perfil</span>
    </li>
    <li>
      <mat-icon>more_horiz</mat-icon>
      <span>Más opciones</span>
    </li>
  </ul>
</nav>
