<app-header></app-header>

<section class="comunidad-container">
  <div class="comunidad-wrapper">
    <app-breadcrumb></app-breadcrumb>

    <h2 class="page-title">Foro de la comunidad</h2>

    <div class="content-layout">
      <app-sidebar-left></app-sidebar-left>

      <div class="feed-column">
        <app-post-creator (postCreated)="agregarPost($event)"></app-post-creator>

        @for (post of posts(); track post.postId) {
          <app-post-card
            [post]="post"
            (openCommentModal)="abrirModal($event)"
          ></app-post-card>
        }

        @if (showCommentModal && selectedPost) {
          <app-comment-modal
            [post]="selectedPost"
            [usuario]="usuarioPerfil"
            (closed)="cerrarModal()"
            (commentCreated)="onComentarioFeed(selectedPost!, $event)"
          ></app-comment-modal>
        }

      </div>

      <div class="sidebar-right-column">
        <app-sidebar-search></app-sidebar-search>
        <app-sidebar-recomendaciones></app-sidebar-recomendaciones>
        <app-sidebar-tendencias></app-sidebar-tendencias>
      </div>
    </div>
  </div>
</section>
