<div class="history-item">
  <div class="history-item-info">
    <mat-icon class="history-item-icon">image</mat-icon>
    <div>
      <h4 class="history-item-title">{{ item.title }}</h4>
      <p class="history-item-subtitle">{{ item.subtitle }}</p>
    </div>
  </div>
  <div class="history-item-actions">
    <span class="history-item-status" [class]="item.statusClass">{{ item.status }}</span>
    <button mat-button class="history-item-button">Ver detalle</button>
  </div>
</div>
<mat-divider></mat-divider>
