<div class="post-card" (click)="!showImageModal && clickable && verDetalle()">
  <div class="post-header">
    <img [src]="post.usuario.usuarioFotoPerfil" alt="avatar" class="avatar" (click)="goToProfile($event)"/>
    <div class="user-info">
      <h3>
        <span class="author-link" (click)="goToProfile($event)">
          {{ post.usuario.usuarioNombre }}
        </span>

        <span class="subtitle">· {{ post.usuario.usuarioPais}}</span>
      </h3>
      <p class="fecha">{{ post.postFecha | date: 'short' }}</p>
    </div>
    <button mat-icon-button class="more-btn">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>

  <h4 class="titulo">{{ post.postTitulo }}</h4>
  <p class="descripcion">{{ post.postDescripcion }}</p>
  <a href="#" class="translate-link">Traducir al inglés</a>

  @if (post.postFoto) {
    <img [src]="post.postFoto" alt="foto del post" class="imagen" (click)="openImage($event)"/>
  }

  @if (showImageModal) {
    <div class="image-modal" (click)="closeImage(); $event.stopPropagation()">
      <img [src]="post.postFoto" class="modal-img" (click)="$event.stopPropagation()"  alt="modal de la foto"/>
    </div>
  }

  <div class="post-footer">

    <button mat-button class="footer-btn" (click)="toggleLike($event)">
      <mat-icon [ngClass]="{ liked: post.userLiked }">
        {{ post.userLiked ? 'thumb_up' : 'thumb_up_off_alt' }}
      </mat-icon>
      <span>{{ post.likeCount }}</span>
    </button>

    <button mat-button class="footer-btn" (click)="abrirModalComentarios($event)">
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>{{ post.commentCount }}</span>
    </button>

    <button mat-button class="footer-btn">
      <mat-icon>share</mat-icon>
      <span>Compartir</span>
    </button>
  </div>
</div>
