<app-header></app-header>

<div class="page-container">
  <app-breadcrumb></app-breadcrumb>

  <div class="content-wrapper">

    <div class="main-header-container">
      <h2 class="main-header">Recomendaciones de hoy</h2>

      <button
              *ngIf="esAdministrador()" class="admin-settings-btn"
              (click)="goToAdminList()" title="Gestionar Blogs" aria-label="Gestionar Blogs">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <mat-divider style="margin-bottom: 25px;"></mat-divider>

    <app-tip-del-dia></app-tip-del-dia>

    <mat-divider class="section-divider"></mat-divider>

    <h2 class="section-title">Noticias que te pueden ayudar</h2>
    <app-noticias-list></app-noticias-list>

    <div class="ver-mas-news-container">
      <a mat-button [routerLink]="['noticias']">
        Ver más noticias <mat-icon>arrow_forward</mat-icon>
      </a>
    </div>

    <div class="feedback-section">
      <h3 class="satisfaccion-title">¿Qué tan útil le pareció esta información?</h3>
      <div class="feedback-options">

        <button mat-button
                class="feedback-btn"
                [class.feedback-btn--unselected]="satisfaccion !== 'Poco'"
                [class.feedback-btn--selected]="satisfaccion === 'Poco'"
                (click)="seleccionarSatisfaccion('Poco')">
          <mat-icon class="feedback-icon">sentiment_very_dissatisfied</mat-icon> Poco
        </button>

        <button mat-button
                class="feedback-btn"
                [class.feedback-btn--unselected]="satisfaccion !== 'Regular'"
                [class.feedback-btn--selected]="satisfaccion === 'Regular'"
                (click)="seleccionarSatisfaccion('Regular')">
          <mat-icon class="feedback-icon">sentiment_neutral</mat-icon> Regular
        </button>

        <button mat-button
                class="feedback-btn"
                [class.feedback-btn--unselected]="satisfaccion !== 'Mucho'"
                [class.feedback-btn--selected]="satisfaccion === 'Mucho'"
                (click)="seleccionarSatisfaccion('Mucho')">
          <mat-icon class="feedback-icon">sentiment_very_satisfied</mat-icon> Mucho
        </button>
      </div>
    </div>
  </div>
</div>
