<app-header></app-header>

<div class="home-bg-container">

  <div class="home-content-wrapper">

    <section class="climate-section">
      <div class="climate-left">
        <mat-icon class="climate-icon main">cloud</mat-icon>
        <div>
          <h3 class="climate-location">Santiago de Surco</h3>
          <p class="climate-description">Parcialmente nublado - 13°C / 14°C</p>
        </div>
      </div>
      <div class="climate-right">
        <mat-icon class="rain-icon">water_drop</mat-icon>
        <span class="rain-prob">Prob. lluvia baja</span>
      </div>
    </section>

    <app-feature-grid></app-feature-grid>

    <app-history-list></app-history-list>

    <app-release-notes></app-release-notes>

  </div>

</div>
