<div class="sidebar-section">
  <div class="section-header">
    <mat-icon color="primary">lightbulb</mat-icon>
    <h3>Recomendaciones de hoy</h3>
  </div>
  <ul>
    <li (click)="verDetalle(2)">
      <mat-icon>eco</mat-icon>
      Prácticas sostenibles para proteger cultivos
    </li>

    <li (click)="verDetalle(4)">
      <mat-icon>water_drop</mat-icon>
      Como identificar señales tempranas de enfermedades
    </li>

    <li (click)="verDetalle(5)">
      <mat-icon>local_florist</mat-icon>
      Ahorra agua sin afectar la salud de los cultivos
    </li>
  </ul>
</div>
