<mat-toolbar class="landing-navbar">

  <div class="navbar-left">
    <img ngSrc="/assets/images/logo/ecoshield-logo.svg" alt="EcoShield Logo" class="navbar-logo"
         height="40" width="40">
    <span class="navbar-brand">Ecoshield</span>
  </div>

  <div class="navbar-right">
    <button
      mat-button class="nav-button btn-register" [routerLink]="['/auth']" [queryParams]="{ view: 'register' }">
      Registrarse
    </button>
    <button
      mat-button class="nav-button btn-login" [routerLink]="['/auth']" [queryParams]="{ view: 'login' }">
      Iniciar Sesión
    </button>
  </div>

</mat-toolbar>
