<section class="features-grid">
  <div class="features-row-1">

    <div class="card-wrapper">
      <img ngSrc="/assets/images/landing/recursos/2.svg" alt="Libro de almanaque" class="book-image" width="250" height="250">

      <div class="feature-card card-almanaque">
        <div class="card-content almanaque-text">
          <h1>Almanaque de plagas y enfermedades</h1>
          <p>Una extensa librería de plagas y enfermedades para consultar</p>
        </div>

        <div class="almanaque-gallery">
          <div class="gallery-item insect-row">
            <img ngSrc="/assets/images/landing/recursos/plagas.svg" alt="Plagas" height="1080" width="1920">
          </div>

          <div class="gallery-bottom-row">
            <div class="gallery-item leaf-item">
              <img ngSrc="/assets/images/landing/recursos/15.svg" alt="Hoja" class="gallery-img" width="100" height="100">
            </div>
            <div class="gallery-item tablet-item">
              <img ngSrc="/assets/images/landing/recursos/19.svg" alt="Tablet" class="gallery-img" width="100" height="100">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="feature-card card-foro">
        <img ngSrc="/assets/images/landing/recursos/Group%2088.png" alt="Foro de la comunidad" class="forum-image" width="400" height="200">
        <div class="card-content foro-text">
          <h1>Foro de comunidad</h1>
          <p>Conecta con otros jardineros y expertos alrededor del mundo</p>
        </div>
      </div>
    </div>
  </div>

  <div class="features-row-2">
    <div class="card-wrapper">
      <div class="feature-card card-historial">
        <mat-icon class="history-icon">history</mat-icon>
          <div class="card-content foro-text">
            <h1>Historial de fotos</h1>
            <p>Has un seguimiento de la salud de tus plantas a través del tiempo</p>
          </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="feature-card card-recomendaciones">

        <div class="recommend-ticker">
          <div class="recommend-content">
            <img ngSrc="/assets/images/landing/recursos/Group%2089.png" alt="Recomendación 1" width="120" height="120">
            <img ngSrc="/assets/images/landing/recursos/Group%2090.png" alt="Recomendación 2" width="120" height="120">
            <img ngSrc="/assets/images/landing/recursos/Group%2091.png" alt="Recomendación 3" width="120" height="120">
            <img ngSrc="/assets/images/landing/recursos/Group%2089.png" alt="Recomendación 1" width="120" height="120">
            <img ngSrc="/assets/images/landing/recursos/Group%2090.png" alt="Recomendación 2" width="120" height="120">
            <img ngSrc="/assets/images/landing/recursos/Group%2091.png" alt="Recomendación 3" width="120" height="120">
          </div>
        </div>

        <div class="card-content foro-text">
          <h1>Recomendaciones diarias</h1>
          <p>Recibe consejos diarios generados según el estado de tus cultivos. EcoShield analiza tus plantas y te sugiere acciones prácticas para mejorar su salud y rendimiento.</p>
        </div>

      </div>
    </div>
  </div>
</section>
